@CHARSET "UTF-8";

body {
	background: white;
	color: black;
}

form, button {
	color: black;
}

#logoutbut {
	float: right;
	margin-top: 20px;
    margin-right: 30px;
}

#switchbut {
	float: right;
	margin-top: 20px;
    margin-right: 70px;
}

	